.cookies-main {
  min-height: 100vh;
  width: 100%;
  padding-left: var(--global-margin-left);
  padding-right: var(--global-margin-right);
  margin: 0 auto;
  flex: 1;
  box-sizing: border-box;
}

.cookies-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  font-family: "Satoshi", sans-serif;
}
.cookies-title {
  font-size: 48px;
  font-weight: 800;
  color: var(--dark-grey);
  text-align: center;
  margin-bottom: 50px;
}
.cookies-box {
  background-color: var(--light-grey);
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}
.text-about-cookies {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
}
.subtitle-cookies-section {
  font-size: 28px;
  font-weight: 700;
  color: var(--blue-vibrant);
  margin-top: 40px;
  margin-bottom: 16px;
}
ul .cookies-brands {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 800;
  color: var(--grey2);
  margin-bottom: 16px;
  margin-top: 16px;
}
.more-info-cookies {
  color: var(--blue-vibrant);
  text-decoration: underline;
}
.more-info-cookies:hover {
  color: var(--dark-grey);
}
.service-topcs {
  padding-left: 24.5px;
}


@media (max-width: 768px) {
  .cookies-container {
    padding: 20px;
  }

  .cookies-title {
    font-size: 32px;
  }

  .subtitle-cookies-section {
    font-size: 24px;
  }

  .text-about-cookies, ul .cookies-brands{
    font-size: 16px;
  }
}