/* Explanation:
  ===========================================================
  *Flexbox structure:

  The header uses display: flex with justify-content: 
  space-between to place the logo and navigation menu 
  at the ends. I used align-items: centre to ensure vertical 
  alignment.

  *Logo with image and text:

  The logo-container combines the icon (logo-image) and 
  the text (logo-text) using flexbox.

  *Navigation menu:

  The nav-list organises the links horizontally with 
  spacing (gap).
  ===========================================================
*/

header {
  display: flex;
  top: 0;
  width: 100%;
  background: var(-white);
  padding: 10px 0;
  transition: top .3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1a);
  justify-content: space-between;
  z-index: 1000;
  align-items: center;
  background-color: var(--white);
}
header.hidden {
  top: -70px;
}

.logo-container a {
  display: flex;
  text-decoration: none;
  align-items: center;
  text-align: center;
  gap: 8pt;
  color: inherit;
}
.logo-container a:hover {
  opacity: 0.8;
}
.logo-image {
  width: 42px;
  height: 42px;
  margin: 0;
}
.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  margin-top: 9px;
}
.slogan {
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.20em;
  line-height: 1.2;
  margin: 0;
  text-align: left;
  align-items: flex-start;
  color: var(--dark-grey);
}
.logo {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  line-height: 1;
  all: unset;
  flex-direction: row;
}
.logo .vibra {
  font-size: 18px;
  font-weight: 900;
  margin: 0;
  letter-spacing: 0.32em;
  align-items: center;
  display: inline-block;
  line-height: 1;
  color: var(--dark-grey);
}
.logo .liste {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  letter-spacing: 0.32em;
  align-items: center;
  display: inline-block;
  line-height: 1;
  color: var(--dark-grey);
}

.nav {
  display: flex;
}
.nav-list {
  display: flex;
  gap: var(--space-l);
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-list a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  letter-spacing: 0.05em;
  line-height: 1.4px;
  cursor: pointer;
}
.nav-list li a {
  color: var(--dark-grey);
  transition: ease 0.3s;
}
.nav-list li a:hover {
  color: var(--blue-vibrant);
}
.nav-item {
  position: relative;
  color: var(--dark-grey);
  text-decoration: none;
}
.nav-item.active::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--blue-vibrant);
  transition: width 0.3s ease;
}
.nav-item:hover::after {
  width: 100%;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  gap: var(--space-m);
}
.hamburguer-menu {
  display: none;
  cursor: pointer;
}
.hamburguer-menu span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  background-color: var(--dark-grey);
  transition: .3s;
}


/* 📌 Responsividade | Responsiveness */

/* Widescreen (992px e acima) */
@media (min-width: 992px) { 
  .nav-list a {
    font-size: 16.5px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    letter-spacing: 0.05em;
    line-height: 1.4px;
    cursor: pointer;
  }
  
  .slogan {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 1.4;
    margin: 0;
    text-align: left;
    align-items: flex-start;
    color: var(--dark-grey);
  }

  .logo .vibra {
    font-size: 18px;
    font-weight: 900;
    margin: 0;
    letter-spacing: 0.22em;
    align-items: center;
    display: inline-block;
    line-height: 1;
    color: var(--dark-grey);
  }
  .logo .liste {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    letter-spacing: 0.22em;
    align-items: center;
    display: inline-block;
    line-height: 1;
    color: var(--dark-grey);
  }

  .logo-image {
    width: 52px;
    height: 52px;
    margin: 0;
  }

  .logo-container a {
    gap: 8pt;
  }
}

/* Normal (768px - 991px) */
@media (max-width: 991px) {
  .nav-bar {
    display: none;
  }

  .hamburguer-menu {
    display: block;
  }

  .nav-bar.active {
    display: block;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 26px;
    width: 120px;
    background-color: var(--white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    padding: var(--space-s);
  }

  .nav-list {
    flex-direction: column;
    gap: var(--space-s);
    padding: 10px;
  }

  .slogan {
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 1.4;
    margin: 0;
    text-align: left;
    align-items: flex-start;
    color: var(--dark-grey);
  }
  .logo .vibra {
    font-size: 18px;
    font-weight: 900;
    margin: 0;
    letter-spacing: 0.22em;
    align-items: center;
    display: inline-block;
    line-height: 1;
    color: var(--dark-grey);
  }
  .logo .liste {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    letter-spacing: 0.22em;
    align-items: center;
    display: inline-block;
    line-height: 1;
    color: var(--dark-grey);
  }

  .logo-image {
    width: 52px;
    height: 52px;
    margin: 0;
  }

  .logo-container a {
    gap: 5pt;
  }
}

/* Narrow (600px - 767px) */
@media (max-width: 767px) { 
  .slogan {
    font-weight: 500;
    font-size: 8px;
    letter-spacing: 0.5px;
    margin: 0;
    text-align: left;
    align-items: flex-start;
    color: var(--dark-grey);
    margin-bottom: -4px;
  }
  .logo .vibra {
    font-size: 14px;
    font-weight: 900;
    margin: 0;
    letter-spacing: 0.22em;
    align-items: center;
    display: inline-block;
    color: var(--dark-grey);
  }
  .logo .liste {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    letter-spacing: 0.22em;
    align-items: center;
    display: inline-block;
    color: var(--dark-grey);
  }
  .logo-image {
    width: 42px;
    height: 42px;
    margin: 0;
  }
  .logo-container a {
    gap: 5pt;
  }
}

/* Very small (≤412px) */
@media (max-width: 412px) { 
  .slogan {
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.5px;
    margin: 0;
    text-align: left;
    align-items: flex-start;
    color: var(--dark-grey);
    margin-bottom: -4px;
  }
  .logo .vibra {
    font-size: 14px;
    font-weight: 900;
    margin: 0;
    letter-spacing: 0.22em;
    align-items: center;
    display: inline-block;
    color: var(--dark-grey);
  }
  .logo .liste {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    letter-spacing: 0.22em;
    align-items: center;
    display: inline-block;
    color: var(--dark-grey);
  }
  .logo-image {
    width: 42px;
    height: 42px;
    margin: 0;
  }
  .logo-container a {
    gap: 5pt;
  }
}
