main {
  min-height: 100vh;
  width: 100%;
  padding-left: var(--global-margin-left);
  padding-right: var(--global-margin-right);
  margin: 0 auto;
  flex: 1;
  box-sizing: border-box;
}
.terms-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  font-family: "Satoshi", sans-serif;
}
h1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--dark-grey);
  text-align: center;
}
h2 {
  font-size: 28px;
  font-weight: 700;
  color: var(--blue-vibrant);
  margin-top: 40px;
  margin-bottom: 16px;
}
ul li {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 800;
  color: var(--grey2);
  margin-bottom: 16px;
  margin-top: 16px;
}
ul p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
}
.terms-box {
  background-color: var(--light-grey);
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}
a {
  color: var(--blue-vibrant);
  text-decoration: underline;
}
a:hover {
  color: var(--dark-grey);
}
.service-topcs {
  padding-left: 24.5px;
}

@media (max-width: 768px) {
  .terms-container {
    padding: 20px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  p, ul li {
    font-size: 16px;
  }
}