.banner-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--dark-grey);
  color: var(--white);
  text-align: center;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.banner-wrapper p {
  margin: 0;
  font-size: 16px;
}

.banner-wrapper a {
  color: var(--blue-vibrant);
  text-decoration: underline;
}

.banner-wrapper button {
  background: var(--blue-vibrant);
  border: none;
  color: var(--white);
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 10px;
}