.container-benefits {
  text-align: center;
}
.title-bnfts {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.benefits-cards {
  display: flex;
  justify-content: space-between;
  gap: 24pt;
  padding: 0 16px;
  margin-top: 60pt;
}
.card-bfts {
  border-radius: 8px;
  width: 23%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-bfts h3 {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.card-bfts p {
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.6;
  font-size: 1rem;
  color: #333;
}
.card-bfts .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--light-grey2);
  margin-bottom: 20px;
  flex-shrink: 0;
}
.icon-container {
  border-top: 2px dashed var(--blue-vibrant);
}

.about-content {
  padding: 44pt 0;
}
.container-black-wall {
  width: 100%;
  height: 570px;
  border-radius: 16px 16px 0 0;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
  margin-bottom: -220px;
}
.container-white-zone {
  width: 30%;
  padding: 14px;
  border-radius: 15px;
  background-color: var(--white);
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: -10px;
}
.about-title {
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  font-size: 25px;
  font-weight: 700;
  color: var(--blue-vibrant);
}

.body-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.body-text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.6;
  color: var(--white);
  padding-left: 10%;
  padding-right: 10%;
}
.vibra-word {
  font-weight: bold;
}
.liste-word {
  color: var(--light-grey);
}

.container-circles {
  position: relative;
  text-align: center;
  margin-top: 195px;
}
.title-circles {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -150%);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--white);
  z-index: 10;
}
.circle {
  position: absolute;
  border-radius: 50%;
  border: 2px solid var(--white);
  z-index: 1;
  background: transparent;
}
.medium {
  width: 250px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-image: linear-gradient(to bottom, white 
  0%, rgba(255, 255, 255, 0) 50%)1;
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
}
.card {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  z-index: 13;
}
.card img {
  width:60%;
  height: 200px;
  display: block;
  margin: 0 auto;
  align-self: center;
  object-fit: cover;
  
}
.card-content {
  padding: 1.2rem;
  text-align: center;
}
.card-content h3 {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  color: var(--dark-grey);
}
.card-content p {
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.6;
  font-size: 1rem;
  color: var(--grey);
}
.card-1 .card-content {
  order: 1;
}
.card-1 img {
  order: 2;
  object-position: top;
}
.card-2 img {
  order: 1;
  object-position: bottom;
}
.card-2 .card-content {
  order: 2;
}
.card-3 .card-content {
  order: 1;
}
.card-3 img {
  order: 2;
  object-position: top;
}

.chalk-arrow-container {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.chalk-arrow {
  display: block;
  width: auto; 
  height: auto; 
  transform: rotate(-95deg) scaleX(-1);
  max-width: 140px;
}
.chalk-arrow2 {
  display: block;
  width: 90px; 
  height: 50px; 
  transform: rotate(65deg);
  max-width: 140px;
}
.chalk-arrow3 {
  display: block;
  width: auto; 
  height: auto; 
  transform: rotate(100deg);
  max-width: 140px;
}

/* 📌 Responsividade | Responsiveness */

/* Laptop (1024px - 1440px) */
@media (max-width: 1440px) { 
  .card-1 img {
    border-radius: 14px 14px 0 0;
  }
  .card-2 img {
    border-radius: 0 0 10px 10px ;
  }
  .card-3 img {
    border-radius: 14px 14px 0 0;
  }
  .chalk-arrow-container {
    position: relative;
    margin-top: 35px;
    display: flex;
    justify-content: center;
  }
}

/* Narrow (600px - 767px) */
@media (max-width: 768px) { 
  .card-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    text-align: center;
    align-items: center;
    margin-top: 35px;
    padding: 20px;
  }
  .card {
    width: 90%;
    height: 190px;
    border-radius: 10px;
    padding: -52px 0;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    display: grid;
    justify-content: space-between;
    background-color: var(--white);
    align-items: center;
    text-align: center;
    gap: 12px;
    z-index: 13;
  }
  .card-1 .card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .card-2 .card-content {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .chalk-arrow-container {
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .chalk-arrow,
  .chalk-arrow2,
  .chalk-arrow3 {
    opacity: 0.7;
  }
  .card img {
    display: none;    
  }
  .card-content p {
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1.6;
    font-size: 0.9rem;
    text-align: left;
    align-items: center;
    text-align: center;
    color: var(--grey);
  }
}

/* Small (≤430px) */
@media (max-width: 430px) { 
  .container-benefits {
    padding-left: 4pt;
    padding-right: 4pt;
    text-align: center;
  }

  .benefits-cards {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    margin-bottom: 30px;
  }

  .card-bfts {
    display: grid;
    border-radius: 12px;
    align-items: self-start;
    justify-content: left;
    grid-template-columns: auto auto 2fr;
    grid-template-rows: 1fr;
    padding: 5px 15px;
    width: 100%;
    height: 95px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
  .card-bfts .icon-container {
    width: 50px;
    height: 50px;
    background-color: var(--light-grey2);
    display: flex;
    flex-shrink: 0;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-right: 8pt;
  }
  .card-bfts h3 {
    font-size: 1rem;
    margin-top: 5px;
    display: flex;
  }
  .card-bfts p {
    text-align: start;
    font-size: 0.85rem;
    color: var(--grey);
    display: flex;
    flex-direction: row;
    line-break: normal;
    grid-column: 2;
    margin-top: -45pt;
  }
  .card-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    align-items: center;
    margin-top: 65px;
    padding: 20px;
  }
  .card {
    width: 90%;
    height: 110px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    display: grid;
    justify-content: space-between;
    background-color: var(--white);
    align-items: center;
    text-align: center;
    gap: 12px;
    z-index: 13;
  }
  .card img {
    display: none;    
  }
  .card-content {
    padding: 1.2rem;
    text-align: center;
    justify-content: center;
  }
  .card-content h3 {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    text-align: left;
    color: var(--dark-grey);
  }
  .card-content p {
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1.6;
    font-size: 0.9rem;
    text-align: left;
    align-items: center;
    color: var(--grey);
  }
  .card-1, .card-3 {
    height: auto;
  }
  .card-1 .card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .card-2 .card-content {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .card-3 .card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .chalk-arrow-container {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .chalk-arrow,
  .chalk-arrow2,
  .chalk-arrow3 {
    opacity: 0.7;
  }
}

/* Very small (≤412px) */
@media (max-width: 412px) { 
  .container-benefits {
    padding-left: 4pt;
    padding-right: 4pt;
    text-align: center;
  }

  .benefits-cards {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    margin-bottom: 30px;
  }

  .card-bfts {
    display: grid;
    border-radius: 12px;
    align-items: self-start;
    justify-content: left;
    grid-template-columns: auto auto 2fr;
    grid-template-rows: 1fr;
    padding: 5px 15px;
    width: 100%;
    height: 95px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
  .card-bfts .icon-container {
    width: 50px;
    height: 50px;
    background-color: var(--light-grey2);
    display: flex;
    flex-shrink: 0;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-right: 8pt;
  }
  .card-bfts h3 {
    font-size: 1rem;
    margin-top: 5px;
    display: flex;
  }
  .card-bfts p {
    text-align: start;
    font-size: 0.85rem;
    color: var(--grey);
    display: flex;
    flex-direction: row;
    line-break: normal;
    grid-column: 2;
    margin-top: -45pt;
  }
  .card-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    align-items: center;
    margin-top: 65px;
    padding: 20px;
  }
  .card {
    width: 90%;
    height: 110px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    display: grid;
    justify-content: space-between;
    background-color: var(--white);
    align-items: center;
    text-align: center;
    gap: 12px;
    z-index: 13;
  }
  .card img {
    display: none;    
  }
  .card-content {
    padding: 1.2rem;
    text-align: center;
    justify-content: center;
  }
  .card-content h3 {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    text-align: left;
    color: var(--dark-grey);
  }
  .card-content p {
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1.6;
    font-size: 0.9rem;
    text-align: left;
    align-items: center;
    color: var(--grey);
  }
  .card-1, .card-3 {
    height: auto;
  }
  .card-1 .card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .card-2 .card-content {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .card-3 .card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .chalk-arrow-container {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .chalk-arrow,
  .chalk-arrow2,
  .chalk-arrow3 {
    opacity: 0.7;
  }
}