@layer base {
  :root {
    --blue-force-white: 255 255 255;
    --blue-force-100: 245 246 250;
    --blue-force-200: 218 222 242;
    --blue-force-300: 135 140 168;
    --blue-force-400: 80 86 115;
    --blue-force-500: 20 26 51;
    --blue-force-600: 10 15 30;
    --blue-force-700: 61 85 204;
    --blue-force-800: 124 124 124;
  }
}